<FilesMatch "\.env$">
    <IfModule mod_authz_core.c>
        # Regra para o seu XAMPP local (Apache 2.4+)
        Require all denied
    </IfModule>
    
    <IfModule !mod_authz_core.c>
        # Regra para o seu host antigo (Apache 2.2)
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]