* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}