@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .interface {
        @apply max-w-7xl mx-auto px-4 py-10 sm:px-6 sm:py-12 lg:px-8 lg:py-14 h-full;
    }

    .tag {
        @apply bg-teal-600/20 w-max px-3 py-1 rounded-full text-teal-600 font-semibold;
    }

    .titulo {
        @apply text-5xl font-semibold;
    }

    .subtitulo {
        @apply text-2xl text-black/60;
    }

    .sombra-interna {
        box-shadow: inset 0 -500px 250px -50px rgba(0, 0, 0, 0.548);
    }

    .card {
        @apply flex flex-col gap-2 w-1/3 h-max bg-white p-5 rounded-xl shadow-md hover:-translate-y-2;

        & h3 {
            @apply font-bold;
        }
    }

    .lista-vantagem {
        @apply flex items-center gap-2;

        & h3 {
            @apply font-bold;
        }
    }

    .lista-despesa {
        @apply flex flex-col;

        & .txt {
            @apply flex justify-between items-center;

            & h3 {
                @apply flex items-center justify-center gap-1 font-semibold;

                & span {
                    @apply block w-3 h-3 rounded-full;
                }
            }
        }

        & .barra {
            @apply w-full h-3 bg-gray-300 rounded-full overflow-hidden;

            & span {
                @apply block h-full rounded-full;
            }
        }

        & .orcamento {
            @apply self-end text-sm text-black/50;
        }
    }

    .card-cliente {
        @apply flex flex-col gap-2 bg-white p-5 rounded-xl shadow-sm;

        & .img-nome {
            @apply flex gap-2;

            & img {
                @apply w-14 h-14 rounded-full object-cover;
            }

            & h3 {
                @apply font-bold;
            }
        }

        & .txt-cliente {
            @apply italic text-black/70;
        }

        & .stars {
            @apply flex gap-1 text-yellow-400;
        }
    }
}

@layer base {

    *,
    ::before,
    ::after {
        @apply transition-all duration-200 ease-in-out scroll-mt-[5rem];
    }

    html {
        @apply scroll-smooth;
    }
}