@layer components {
    .container-aviso {
        @apply flex items-center justify-center fixed top-0 left-0 h-dvh w-full bg-black/50 z-700;

        & .aviso {
            @apply flex flex-col gap-5 w-7/8 lg:w-1/3 p-7 rounded-2xl bg-white shadow-2xl;

            & h2 {
                @apply text-2xl font-semibold;

                & i {
                    @apply text-verde;
                }
            }

            & p {
                @apply text-texto-opaco text-xl;
            }

            & .container-btn {
                @apply w-full flex justify-end;

                & button {
                    @apply px-3 py-2 rounded-xl bg-verde text-white cursor-pointer;

                    &:hover {
                        @apply bg-verde-hover;
                    }
                }
            }
        }
    }
}