/* geral */
* {
    /* outline: 2px solid red; */
}

.main-content {
    padding: 0 !important;
    background-color: #f8f8f8 !important;
}

/* pagina */
.header {
    background: #fff;
    padding: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
}

.header button {
    background-color: #218380;
    color: #fff;
    padding: 1em;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.container-dash {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    width: 100%;
}

.container-graficos {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.container-graficos .card {
    width: 100%;
    height: max-content;
}

.container-esquerda,
.container-direita {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.container-direita {
    width: 30%;
}

.container-esquerda {
    width: 70%;
}

/* cards */
.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .5em;
    width: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: #fff;
    padding: 1.5em;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #dddddd;

}

#pendentes {
    border: 1px solid #ffef93;
}

.card h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    color: #707070;
}

.card span {
    position: absolute;
    right: 1em;
    top: 1em;
    padding: .5em;
    font-size: 1.5em;
    border-radius: .8em;
    font-weight: bold;
    color: #246a73;
    background-color: #73d2de42;
}

.card #valor {
    font-size: 1.5em;
    color: #000;
}

.card p {
    font-size: .9em;
    color: #707070;
}

/* resumo financeiro */
.container-resumo {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: .8em;
}

.container-resumo h4 {
    font-size: 1em;
    font-weight: 500;
}

.container-resumo article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 1em;
    border-radius: 1em;
}

#container-data-tag {
    display: flex;
    gap: .5em;
}

.container-resumo article .verde {
    color: #2dc653;
    font-size: 1em;

}

.container-resumo article .verde-escuro {
    color: #40916c;
    font-size: 1em;
}

.container-resumo article .vermelho {
    color: #d90429;
    font-size: 1em;
}

.container-resumo article #tag-pago {
    background-color: #2dc65314;
    color: #2dc653;
    border-radius: 1em;
    padding: 0 .5em;
    width: max-content;
    border: 1px solid #2dc653;
    font-size: 1em;
}

.container-resumo article #tag-pendente {
    background-color: #c6ac2d14;
    color: #ffbe0b;
    border-radius: 1em;
    padding: 0 .5em;
    width: max-content;
    border: 1px solid #ffbe0b;
    font-size: 1em;
}

/* graficos despesas */
.container-graficos-despesas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1em;
}

.container-graficos-despesas canvas {
    max-width: 50%;
    max-height: max-content;
}

#span-sem-despesas,
#span-sem-info-analise,
#span-sem-info-resumo {
    display: none;
    position: relative;
    font-size: 1em;
    width: max-content;
    align-self: center;
    justify-self: center;
}

#span-sem-info-resumo {
    display: flex;
}

@media screen and (max-width: 768px) {

    /* geral */
    .main-content {
        margin-top: 4em;
    }

    /* alerta relatório anual */
    #alert-anual {
        width: 80vw;
    }

    .container-graficos {
        flex-wrap: wrap;
    }

    .container-esquerda,
    .container-direita {
        width: 100%;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 100% !important;
        height: auto;
    }

    .container-graficos-despesas {
        flex-direction: column;
    }

    .container-graficos-despesas canvas {
        max-width: 100%;
    }
}