/* Alerta do relatório anual */
#alert-anual {
    display: none;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
    border: 3px solid #2f5054;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #218380;
    color: #fff;
    padding: 1em;
    width: 50em;
    z-index: 1000;
}

#alert-anual h1 {
    font-size: 3em;
    text-align: center;
}

#alert-anual p {
    font-size: 1.5em;
    text-align: justify;
}

#alert-anual a {
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: #73d2de;
    color: #fff;
    font-size: 1.5em;
    border-radius: 1.5em;
    padding: .3em 0;
    cursor: pointer;
    transition: .3s ease all;
}

#alert-anual a:hover {
    background-color: #2f5054;
}

#alert-anual #btn-fechar-alert {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #fff;
    padding: .3em;
    font-size: 2.5em;
    background-color: transparent;
    cursor: pointer;
}

.overlay-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000ce;
    z-index: 500;
}

.data-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.data-container button {
    background-color: #218380;
    color: #fff;
    padding: 1em;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#monthList {
    position: absolute;
    top: 100%;
    right: 10%;
    background-color: #fff;
    border: 2px solid #b6b6b6;
    list-style-type: none;
}

#monthList li {
    padding: .5em;
    cursor: pointer;
}

#monthList li:hover {
    background-color: #aaaaaa;
}

.header {
    background: white;
    padding: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.header button {
    background-color: #218380;
    color: #fff;
    padding: 1em;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.graficos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.card {
    background: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #218380;
}

.card h3 a {
    margin-left: 1em;
    color: #218380;
    font-size: 1.2em;
}

#grafico {
    width: 20em;
}

#grafico-coluna {
    width: 35em;
}

@media screen and (max-width: 768px) {

    /* alerta relatório anual */
    #alert-anual {
        width: 80vw;
    }

    .cards {
        flex-direction: column;
    }

    .graficos {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    #grafico {
        width: 100%;
    }

    #grafico-coluna {
        width: 100%;
    }

}