#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000b4;
    z-index: 850;
}

.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35em;
    z-index: 900;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 1.5em;
    border-radius: 1em;
}

.form-container p {
    color: #333;
}

.form-container .top-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

.form-container .form-group label {
    margin-bottom: 0.5em;
    color: #333;
}

.form-container .form-group input,
.form-container .form-group select {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.form-container .container-btn {
    display: flex;
    justify-content: right;
    margin-top: 1em;
    gap: .5em;
}

.form-container button[type="submit"],
#btn-cancelar {
    padding: .5em 1em;
    background-color: #218380;
    color: white;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s ease all;
}

.form-container button[type="submit"]:hover {
    background-color: #1c6b63;
}

#btn-cancelar {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    color: #000;
}

#btn-cancelar:hover {
    background-color: #cfcfcf;
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}