@layer components {
    .container-form-index {
        @apply flex items-center justify-center h-dvh w-full;

        & form {
            @apply flex flex-col gap-5 items-center justify-center p-5 py-8 rounded-lg w-1/3;

            & h1 {
                @apply text-3xl font-bold text-verde;
            }

            & h2 {
                @apply text-2xl font-bold;
            }

            & .input-group {
                @apply flex flex-col gap-2 w-full;

                & input {
                    @apply border border-borda py-2 px-3 rounded-lg;

                    &::placeholder {
                        @apply text-texto-opaco;
                    }
                }
            }

            & button {
                @apply w-full p-2 text-white bg-verde rounded-lg cursor-pointer;

                &:hover {
                    @apply bg-verde-hover;
                }
            }

            & p {
                & a {
                    @apply text-verde border-b;
                }
            }
        }
    }
}