body {
    background-color: #fff !important;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1em;
    left: 1em;
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}

.btn-voltar i {
    color: #218380;
    transition: .2s ease all;
}

.btn-voltar:hover i {
    transform: scale(1.4);
}

.form-container {
    padding: 2em;
    border: 2px solid #218380;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-container h2 {
    font-size: 2em;
    color: #218380;
    text-align: center;
    padding-bottom: .2em;
    margin-bottom: 1em;
    border-bottom: 2px solid #218380;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.form-container form .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form-container form .form-group label {
    font-weight: bold;
    color: #333;
}

.form-container form .form-group input {
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

.form-container form .form-group input:focus {
    border-color: #218380;
    outline: none;
    box-shadow: 0 0 5px rgba(33, 131, 128, 0.5);
}

button[type="submit"] {
    padding: .5em;
    background-color: #218380;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #1c6b63;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
}

.login p {
    color: #333;
}

.login a {
    color: #218380;
    font-weight: bold;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}