#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000b4;
    z-index: 850;
}

.form-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    font-size: 2rem;
    z-index: 900;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 2rem;
    border-radius: 1rem;

    & p {
        color: #333;
        font-size: 1.8rem;
    }

    & .top-form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 0;

        & .form-group {

            & label {
                margin-bottom: 0.5rem;
                font-size: 1.8rem;
                color: #333;
            }

            & input,
            select {
                width: 100%;
                padding: 1rem;
                border: 1px solid #ddd;
                border-radius: .5rem;
            }
        }
    }

    & .container-btn {
        display: flex;
        justify-content: right;
        margin-top: 1rem;
        gap: .5rem;

        & button[type="submit"],
        #btn-cancelar {
            padding: .8rem 2rem;
            background-color: #218380;
            color: white;
            border: none;
            border-radius: .5rem;
            font-size: 1.8rem;
            cursor: pointer;
            transition: 0.3s ease all;

            &:hover {
                background-color: #1c6b63;
            }
        }

        & #btn-cancelar {
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            color: #000;

            &:hover {
                background-color: #cfcfcf;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}