body {
    background-color: #fff !important;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10em;
}

header .left,
header .right {
    display: flex;
    align-items: center;
    gap: .5em;
}

header img {
    width: 2.5em;
    height: 2.5em;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #fff;
    transition: .2s ease all;
}

header #btn-cadastro {
    background-color: #246a73;
    border: none;
    border-radius: .5em;
    padding: .5em;
}

header #btn-login {
    background-color: #463f3a;
    color: #fff;
    border-radius: .5em;
    padding: .5em;
}

header #btn-login:hover {
    background-color: #201e1c;
}

header #btn-cadastro:hover {
    background-color: #145553;
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 0 10em;
}

#hero .left {
    display: flex;
    gap: 1em;
    width: 50%;
    justify-content: center;
    flex-direction: column;
}

#hero .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#hero .right img {
    width: 100%;
}

#hero h1 {
    font-size: 4.5em;
}

#hero h1 span {
    color: #145553;
}

#hero p {
    font-size: 1.5em;
}

#hero a {
    text-decoration: none;
    color: #fff;
    background-color: #246a73;
    padding: .5em;
    font-size: 1.5em;
    border-radius: 5em;
    width: fit-content;
    transition: .2s ease all;
}

#hero a:hover {
    background-color: #145553;
}

@media screen and (max-width: 768px) {

    header,
    #hero {
        padding: 0 .5em;
    }

    #hero {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
    }

    #hero .left,
    #hero .right {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    #hero h1 {
        font-size: 2.5em;
    }

    #hero p {
        width: 90%;
        font-size: 1.2em;
    }

    #hero a {
        font-size: 1.2em;
        width: 100%;
    }
}