header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

header .left,
header .right {
    display: flex;
    align-items: center;
    gap: .5em;
}

header img {
    width: 2.5em;
    height: 2.5em;
    margin: 0;
}

header h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    font-family: "Bruno Ace SC", sans-serif;
}

header a {
    text-decoration: none;
    color: #fff;
    transition: .2s ease all;
}

header #btn-cadastro {
    background-color: #246a73;
    border: none;
    border-radius: .5em;
    padding: .5em;
}

header #btn-login {
    background-color: transparent;
    border: 2px solid #463f3a;
    color: #463f3a;
    border-radius: .5em;
    padding: .5em;
}

header #btn-login:hover {
    background-color: #463f3a;
    color: #fff;
}

header #btn-cadastro:hover {
    background-color: #145553;
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    width: 65%;
}

#hero .left {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

#hero .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

#hero .right img {
    width: 30em;
    height: 30em;
}

#hero h1 {
    font-size: 4.5em;
}

#hero h1 span {
    color: #145553;
}

#hero p {
    width: 60%;
    font-size: 1.5em;
}

#hero a {
    text-decoration: none;
    color: #fff;
    background-color: #246a73;
    padding: .5em;
    font-size: 1.5em;
    border-radius: 5em;
    width: fit-content;
    transition: .2s ease all;
}

#hero a:hover {
    background-color: #145553;
}