@import "tailwindcss";
@import "./landing.css";
@import "./form_index.css";
@import "./div_erro.css";
@import "./menu.css";
@import "./tabela.css";
@import "./modal.css";
@import "./dashboard.css";
@import "./mensagem_vazia.css";
@import "./perfil.css";

/* variaveis */
@theme {
    --color-verde: #218380;
    --color-verde-hover: #20605d;
    --color-verde-opaco: rgba(62, 182, 178, 0.15);
    --color-texto-opaco: #656565;
    --color-borda: rgba(202, 202, 202, 0.64);
    --color-cinza-claro: #F9FAFB;
}

@layer utilities {
    .animation-delay-200 {
        animation-delay: 200ms;
    }

    .animation-delay-400 {
        animation-delay: 400ms;
    }
}

@layer base {
    * {
        @apply duration-300 ease-in-out;
        /*outline: 1px solid red;*/
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply flex h-auto lg:h-dvh bg-cinza-claro;

        & main {
            @apply w-full h-full overflow-auto pb-20 lg:pb-0;
        }
    }
}

@layer components {
    #container-loading {
        @apply flex items-center justify-center fixed top-0 left-0 w-full h-full z-900 bg-white/50 opacity-100 transition-opacity duration-300 ease-in-out;

        &.hidden {
            @apply opacity-0 invisible pointer-events-none;
        }

        & #loading {
            @apply flex items-center justify-center gap-8;

            & span {
                @apply rounded-lg w-10 bg-verde animate-[loading_1s_ease-in-out_infinite];

                &:nth-child(2) {
                    @apply [animation-delay:0.1s];
                }

                &:nth-child(3) {
                    @apply [animation-delay:0.2s];
                }
            }
        }
    }

    @keyframes loading {

        0%,
        100% {
            height: 3rem;
        }

        50% {
            height: 10rem;
        }
    }

    .logo {
        @apply text-2xl font-bold text-white;

        & span {
            @apply text-verde;
        }
    }

    .seletor-mes {
        @apply flex items-center justify-center px-2 h-10 rounded-lg border border-borda cursor-pointer;
    }
}