@import "tailwindcss";
@import "./landing.css";
@import "./form_index.css";
@import "./div_erro.css";
@import "./menu.css";
@import "./tabela.css";
@import "./modal.css";
@import "./dashboard.css";
@import "./mensagem_vazia.css";
@import "./perfil.css";

/* variaveis */
@theme {
    --color-verde: #218380;
    --color-verde-hover: #20605d;
    --color-verde-opaco: rgba(62, 182, 178, 0.15);
    --color-texto-opaco: #656565;
    --color-borda: rgba(202, 202, 202, 0.64);
    --color-cinza-claro: #F9FAFB;
}

@layer base {
    * {
        @apply duration-300 ease-in-out;
        /*outline: 1px solid red;*/
    }

    body {
        @apply flex h-dvh;

        & main {
            @apply w-full h-full overflow-auto bg-cinza-claro;
        }
    }
}

@layer components {
    .logo {
        @apply text-2xl font-bold text-white;

        & span {
            @apply text-verde;
        }
    }

    .seletor-mes {
        @apply flex items-center justify-center px-2 py-2 bg-white rounded-lg border border-borda cursor-pointer;
    }
}