@layer components {
    .interface {
        @apply mx-auto max-w-[1280px] w-full px-3 lg:px-5 py-2;
    }

    section {
        @apply scroll-mt-[4rem];
    }

    /*header*/
    .btn-header {
        @apply py-2 px-5 rounded-xl;

        &.btn-entrar {
            @apply border border-borda;

            &:hover {
                @apply bg-gray-200;
            }
        }

        &.btn-cadastrar {
            @apply bg-verde text-white hidden lg:flex;

            &:hover {
                @apply bg-verde-hover;
            }
        }
    }

    /*hero*/
    .txt-hero {
        @apply flex flex-col items-center justify-center lg:items-start lg:justify-normal text-white gap-5 w-full lg:w-2/3;

        & .btn-hero {
            @apply w-1/2 lg:w-auto text-center py-3 px-5 lg:px-10 rounded-xl bg-white text-verde font-semibold;

            &:hover {
                @apply bg-white/50;
            }
        }
    }

    .img-hero {
        @apply w-1/2 lg:w-1/3;
    }

    /*sobre*/
    #sobre {
        @apply bg-gray-100;

        & .container-cards-sobre {
            @apply grid grid-cols-1 lg:grid-cols-3 gap-5;

            & .card-sobre {
                @apply flex flex-col gap-3 bg-white p-5 rounded-lg shadow-lg;

                & i {
                    @apply flex items-center justify-center w-10 h-10 bg-verde/20 text-verde text-xl rounded-lg;
                }

                & h3 {
                    @apply text-xl font-semibold;
                }

                & p {
                    @apply text-texto-opaco;
                }
            }
        }
    }

    /*vantagens*/
    #vantagens {
        @apply py-10;

        & .txt-vantagens {
            @apply flex flex-col gap-5 w-full lg:w-2/3;

            & .lista-vantagens {
                @apply flex flex-col gap-3 justify-center;

                & .item-lista {
                    @apply flex gap-3;

                    & i {
                        @apply flex items-center justify-center rounded-full text-xl w-5 lg:w-8 h-5 lg:h-8 bg-green-500/20 text-green-500;
                    }

                    & h3 {
                        @apply font-semibold text-lg;
                    }

                    & p {
                        @apply text-texto-opaco;
                    }
                }
            }

            & a {
                @apply w-full lg:w-max text-center px-10 py-3 font-semibold rounded-xl bg-verde text-white;

                &:hover {
                    @apply bg-verde-hover;
                }
            }
        }
    }

    .btn-chamada {
        @apply py-3 px-10 rounded-xl bg-white text-verde font-semibold w-full lg:w-auto text-center;

        &:hover {
            @apply bg-white/50;
        }
    }
}