#header-mobile {
    display: none;

    & .btn-menu {
        display: none;
    }
}

.sidebar {
    background: #fff;
    display: flex;
    width: 20rem;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #dddddd;
    font-size: var(--font-size-padrao);
    transition: .3s ease all;

    &.active {
        width: auto;

        & nav a p,
        .header h3,
        .bottom a p {
            display: none;
        }

        & .header button {
            transform: rotate(180deg);
        }
    }

    & .top {
        display: flex;
        flex-direction: column;

        & .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #dddddd;
            border-radius: 0;
            padding: var(--padding-maior);
            margin: 0;

            & h3 {
                font: 2rem;
                color: #246a73;
            }

            & button {
                color: #000;
                background-color: transparent;
                box-shadow: none;
                border: none;
                padding: 0;
                font-size: var(--font-size-padrao);
                cursor: pointer;
                transition: .3s ease all;
            }
        }

        & nav {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding: var(--padding-padrao);
        }

        & a {
            display: flex;
            align-items: center;
            gap: 1rem;
            text-decoration: none;
            color: #777777;
            padding: var(--padding-padrao);
            text-align: center;
            font-size: var(--font-size-padrao);
            transition: 0.3s ease all;

            & i {
                font-size: var(--font-size-titulo);
            }

            &:hover {
                border-radius: var(--border-radius-padrao);
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                color: #246a73ac;
                background-color: #73d2de1c;

                & i {
                    color: #246a73;
                }
            }

            &.atual {
                border-radius: var(--border-radius-padrao);
                font-weight: bold;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                color: #246a73;
                background-color: #73d2de42;
            }
        }
    }

    & .bottom {
        padding: var(--padding-padrao);
        border-top: 1px solid #dddddd;

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: var(--padding-padrao);
            border: none;
            border-radius: var(--border-radius-padrao);
            width: 100%;
            color: #246a73;
            font-size: 1.5rem;
            background-color: #73d2de42;
            text-decoration: none;
            transition: .3s ease all;

            &:hover {
                background-color: #5aa3ad9a;
                color: #2b838f;
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    #header-mobile {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5rem;
        padding: var(--padding-padrao);
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: 0;
        color: #fff;
        z-index: 550;

        & img {
            height: 100%;
        }

        & .btn-menu {
            display: flex;
            position: relative;
            font-size: 3rem;
            color: #2b838f;
            z-index: 900;
            transition: .3s ease all;
        }
    }

    .sidebar {
        width: 80%;
        position: absolute;
        height: 100dvh;
        top: 0;
        left: -100%;
        z-index: 1000;

        &.active {
            width: 80%;
            left: 0;

            & nav a p,
            .header h3,
            .bottom a p {
                display: flex;
            }

            & .header button {
                transform: rotate(360deg);
            }
        }
    }

    .overlay.active {
        visibility: visible;
    }
}