.sidebar {
    background: #218380;
    color: white;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .3s ease all;
}

.sidebar .top {
    display: flex;
    flex-direction: column;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
}

.sidebar .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

.sidebar .logo img {
    width: 2.5em;
    height: 2.5em;
    margin: 0;
}

.sidebar .titulo h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    font-family: "Bruno Ace SC", sans-serif;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: .5em;
    text-decoration: none;
    color: #246a73;
    padding: 10px;
    background: #73d2de;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s ease all;
}

.sidebar a i {
    color: #160f29;
    font-size: 1.2em;
}

.sidebar a:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar .bottom a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: #246a73;
    padding: .5em;
    border-radius: .5em;
    width: 100%;
    color: white;
    text-decoration: none;
}

.sidebar .bottom a:hover {
    background-color: #2f5054;
    box-shadow: none;
}

.sidebar .bottom a i {
    color: #fff;
    font-size: 1.5em;
}

.btn-menu {
    position: absolute;
    top: .5em;
    left: 0;
    border-radius: 0 .5em .5em 0;
    font-size: 1.5em;
    background-color: #2f5054;
    color: #fff;
    padding: .3em;
    z-index: 1000;
    visibility: hidden;
    transition: .3s ease all;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 0;
        visibility: hidden;
        position: absolute;
        height: 100dvh;
        top: 0;
        left: 0;
        overflow-x: auto;
        z-index: 1000;
    }

    .overlay.active {
        visibility: visible;
    }

    .sidebar.active {
        width: 250px;
        visibility: visible;
    }

    .btn-menu {
        visibility: visible;
    }

    .btn-menu.active {
        left: 250px;
    }
}