/* Seletor de data */
.data-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & #monthButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        background-color: #fff;
        color: #000;
        padding: var(--padding-padrao);
        font-size: var(--font-size-padrao);
        border-radius: .8rem;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        cursor: pointer;
    }

    & #monthList {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        min-width: 100%;
        background-color: #fff;
        border: 1px solid #b6b6b6;
        border-radius: var(--border-radius-padrao);
        font-size: var(--font-size-padrao);
        list-style-type: none;
        overflow: auto;
        z-index: 600;

        & li {
            padding: .5rem;
            cursor: pointer;

            &:hover {
                background-color: #aaaaaa;
            }

            &.selected::before {
                content: "✓ ";
            }
        }
    }
}