@layer components {
    .main-tabela {
        @apply flex flex-col gap-5 p-10;
    }

    .header-tabela {
        @apply flex items-center justify-between w-full;

        & h2 {
            @apply text-2xl font-bold;
        }

        & .container-btn-tabela {
            @apply flex items-center justify-center gap-3;

            & button {
                @apply flex items-center justify-center gap-2 px-5 py-2 rounded-lg bg-verde text-white cursor-pointer;

                &:hover {
                    @apply bg-verde-hover;
                }
            }
        }
    }

    .conteudo-tabela {
        @apply bg-white rounded-lg border border-borda p-5;

        & h3 {
            @apply text-xl mb-3 font-bold;
        }

        & .container-table {
            @apply max-w-full max-h-[75dvh] overflow-auto border border-borda rounded-lg;

            & table {
                @apply w-full text-center;

                & thead th, tbody td {
                    @apply p-3;
                }

                & thead {
                    @apply sticky top-0 bg-cinza-claro text-texto-opaco;
                }

                & tbody tr {
                    @apply border-t border-borda;
                }

                & thead tr {
                    @apply border-b border-borda;
                }

                & .acoes {
                    @apply flex items-center justify-center gap-10 text-xl;

                    & .btn-edita, .btn-deleta {
                        @apply w-10 h-10 rounded-lg cursor-pointer;

                        &:hover {
                            @apply bg-gray-200;
                        }
                    }

                    & .btn-edita {
                        @apply text-blue-500;
                    }

                    & .btn-deleta {
                        @apply text-red-500;
                    }
                }
            }
        }
    }
}