.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;

    & .btn-container {
        display: flex;
        gap: 1em;
        font-size: 1.5rem;

        & a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            text-align: center;
            text-decoration: none;
            background-color: #246a73;
            color: white;
            border: none;
            padding: 1rem 2rem;
            border-radius: .5rem;
            cursor: pointer;
        }
    }

    & h2 {
        font-size: 2rem;
    }
}

.container-table {
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid #dddddd;
    width: 100%;

    & p {
        font-size: 2rem;
        margin: 1rem 0;
    }

    & .table-container {
        overflow-x: auto;
        border: none;
        width: 100%;

        & table {
            width: 100%;
            border-collapse: collapse;
            font-size: 1.8rem;
            border-radius: 1rem;
            border: none;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            overflow: hidden;
            text-align: left;

            & thead {
                position: sticky;
                top: 0;
            }

            & th,
            td {
                padding: 1.2rem;
                border: 1px solid #ddd;
                width: max-content;
            }

            & th {
                background-color: #f4f4f4;
                color: #333;
            }

            & tr:nth-child(even) {
                background-color: #f9f9f9;
            }

            & tr:hover {
                background-color: #d1d1d1;
            }

            & td form {
                display: flex;
                align-items: center;
                justify-content: center;

                & .btn-status {
                    padding: .5rem;
                    background-color: #fff6cc;
                    border: 2px solid #fdc500;
                    color: #fdc500;
                    border-radius: 1.5rem;
                    text-align: center;
                    font-weight: bold;
                    width: 100%;
                    cursor: pointer;
                }

                & #pago {
                    background-color: #b7e4c7;
                    border: 2px solid #52b788;
                    color: #52b788;
                }

                & .btn-edit,
                .btn-delete {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background: none;
                    border: none;
                    cursor: pointer;
                    font-size: 2rem;
                    color: #007bff;

                    &:hover,
                    .btn-delete:hover {
                        color: #0056b3;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .titulo {
        & a {
            position: fixed;
            bottom: 10%;
            right: 10%;
            font-size: 0;
            padding: 2rem !important;
            border-radius: 50% !important;
            gap: 0 !important;

            &::after {
                content: "+";
                font-size: 3.5rem;
                height: 1rem;
                width: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    table {
        width: 100%;
        min-width: 600px;

        & .btn-status {
            width: 6em;
        }

        & th,
        td {
            padding: 1rem 1.2rem;
        }
    }
}