.main-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    & h1 {
        font-size: var(--font-size-titulo);
        width: 100%;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: var(--padding-maior);
    background-color: #fff;
    border-radius: var(--border-radius-padrao);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    & h2 {
        font-size: var(--font-size-padrao);
        margin-bottom: .5rem;
    }

    & .container-input {
        display: flex;
        gap: 1rem;
        width: 100%;

        & .input-group {
            width: 50%;
        }
    }

    & .input-group {
        display: flex;
        flex-direction: column;
        font-size: var(--font-size-padrao);
        gap: .5rem;

        & input {
            padding: var(--padding-padrao);
            border-radius: var(--border-radius-padrao);
            border: none;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        }
    }

    & .container-btn {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    & button {
        padding: var(--padding-padrao);
        border-radius: var(--border-radius-padrao);
        font-weight: bold;
        background-color: #218380;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: var(--font-size-padrao);
        transition: .3s ease all;

        &:hover {
            background-color: #1d5856;
        }
    }
}

.container-deslogar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: var(--padding-maior);
    background-color: #fff;
    border-radius: var(--border-radius-padrao);
    font-size: var(--font-size-padrao);
    box-shadow: rgba(255, 0, 0, 0.02) 0px 1px 3px 0px, rgba(255, 0, 0, 0.341) 0px 0px 0px 1px;

    & h2 {
        font-size: var(--font-size-titulo);
        color: #c1121f;
    }

    & p {
        color: #000000ab;
        font-size: var(--font-size-padrao);
    }

    & a {
        padding: var(--padding-padrao);
        border-radius: var(--border-radius-padrao);
        font-weight: bold;
        background-color: #c1121f;
        color: #fff;
        text-decoration: none;
        width: max-content;
        font-size: var(--font-size-padrao);
        cursor: pointer;
        transition: .3s ease all;

        &:hover {
            background-color: #73181e;
        }
    }
}

@media screen and (max-width: 768px) {
    form {
        & .container-input {
            flex-direction: column;

            & .input-group {
                width: 100%;
            }
        }
    }
}