.main-content h1 {
    color: #218380;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

h1 i {
    margin-right: 10px;
}

form {
    width: 100%;
    background-color: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
    font-size: 1.1em;
}

.form-group input {
    width: 100%;
    padding: 0.8em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 0.5em;
}

button[type="submit"] {
    padding: 1em 2em;
    background-color: #218380;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.3s ease all;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

button[type="submit"] i {
    margin-right: 10px;
}

button[type="submit"]:hover {
    background-color: #1c6b63;
}

button[type="submit"]:focus {
    outline: none;
}

/* Ícones nos campos de formulário */
.form-group i {
    color: #218380;
    margin-right: 10px;
}